.input-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.input-wrapper label {
    font-size: 20px;
}

.input-wrapper input {
    font-size: 20px;
    padding: 10px 20px;
}
