.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .section-oval {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid cadetblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.section .line {
    height: 0;
    border-top: 4px dashed cadetblue;
    width: 30px;
}

.section .step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .step .step-oval{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid cadetblue;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.section .step .line {
    height: 0;
    border-top: 4px dashed cadetblue;
    width: 20px;
}
