.App {
  display: block;
  text-align: center;
  padding: 30px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

.main {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main .wizard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main input[type="button"] {
  font-size: 18px;
  outline: none;
  border-radius: 30px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.main input[type="button"]:hover {
  background-color: cadetblue;
}

